body {
    background-color: #181818;
    color: #FFFFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #000000;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.brand {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.brand span {
    background: #FF9900;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    transition: background 2s;
}
.brand span:hover {
    background: #ff7f00;
}
/*Popup*/
.popup-hidden {
     display: none;
}
.popup-tampil {
     display: block;
     position: fixed;
     width: 300px;
     padding: 20px;
     background-color: white;
}
/*Popup End*/
.card-info {
    background-color: #000000;
}

section {
    margin-top: 20px;
}

h2 {
    color: #FFFFFF;
    padding: 25px;
    font-size: 25px;
}

.button-container {
    background-color: #000000;
    border-radius: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
}

.desc-endpoint {
  text-align: center;
  color: #6c757d;
  flex-grow: 1;
  font-size: 15px;
}

.button-link {
    text-decoration: none;
    color: #FF9900;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

a.button-link {
    color: #000000;
    display: inline-block;
    background-color: #FF9900;
    border-radius: 3px;
    padding: 5px;
}

a.button-link:hover {
    background: #ff7f00;
}

.card-info {
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #; /* Warna latar belakang */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

.card-info h2::before {
    margin-right: 5px;
}

.card-info p {
    font-size: 15px;
    margin: 10px 0;
    font-weight: bold;
    color: #6c757d;
    display: flex;
    align-items: center;
}

.card-info p::before {
    margin-right: 5px;
}
